.main-container {
    padding: 24px;
}
.chars-holder {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}
.words-holder {
    margin-top: 10px;
}
.word-holder {
    margin-bottom: 10px;
}
.word {
    font-weight: bold;
}